<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91168809095-b2q0opejdob7k074io8u4guvp0ue5qhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91168809095-b2q0opejdob7k074io8u4guvp0ue5qhp</string>
	<key>API_KEY</key>
	<string>AIzaSyCdjzE5VopPQYYRlJ8rYF0bxUTipjZDgik</string>
	<key>GCM_SENDER_ID</key>
	<string>91168809095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>okan.instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-978ec</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-978ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91168809095:ios:c40c9eb7810c910e275822</string>
</dict>
</plist>